<footer style="background: transparent;">
    <div class="contact-container">
        <div class = "nav">
            <label class ="ov-label"> © 2025. All rights reserved. </label>
            <label>Xalapa, Veracruz / +52 (921) 102 02 53 / stimulatedstudio&#64;gmail.com</label>
            <label class = "creativePixels-label" >Design by Stimulated </label>

        </div>
    </div>
    <div class="social-networks">
        <a href="https://www.instagram.com/ovfilmweddings/" target="_blank">
            <img src="assets/instagram.png" alt="Instagram" aria-hidden="true" />
        </a>
        <a href="https://wa.me/9983056025" target="_blank">
            <img src="assets/whatsapp.png" alt="WhatsApp" aria-hidden="true" />
        </a>
        <a href="https://www.youtube.com/@ovfilmweddings" target="_blank">
            <img src="assets/youtube.png" alt="YouTube" aria-hidden="true" />
        </a>
        <a href="https://www.tiktok.com/@ovfilmweddings" target="_blank">
            <img src="assets/tiktok.png" alt="TikTok" aria-hidden="true" />
        </a>
        <a href="https://www.pinterest.com/ovfilmweddings" target="_blank">
            <img src="assets/pinterest.png" alt="Pinterest" aria-hidden="true" />
        </a>
        <a href="https://www.facebook.com/ovfilmweddings" target="_blank">
            <img src="assets/facebook.png" alt="Facebook" aria-hidden="true" />
        </a>
    </div>
</footer>
