<div class="hero-full">
  <!-- Fixed background image -->
</div>

<!-- Hero content que scrollea encima de la imagen -->
<section class="hero-section">
  <div class="hero-center">
    <img class="overlay-image" src="/assets/images/STMULD_W.png" width="auto" alt="Stimuld Image">
    <label class="overlay-label">Work in progress<span class="dots"> <span>.</span><span>.</span><span>.</span></span></label>
  </div>

  <div class="footer-in-hero">
    <app-footer></app-footer>
  </div>
</section>

<!-- Contenido adicional scrolleable -->
<div class="scrollable-content">

</div>
